@model ApartmentManager.ViewModels.ApartmentFormViewModel

@{ /**/

    ViewBag.Title = "Create Apartment";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


@using (Html.BeginForm("Save", "Apartment"))
{
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.Apartment.ApartmentTypeId)
            <div class="input-group">
                @Html.DropDownListFor(m => m.Apartment.ApartmentTypeId, new SelectList(Model.ApartmentTypes, "Id", "Name"), "Select Type", new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.Apartment.ApartmentTypeId)
        </div>
    </div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.Apartment.FloorNo)
        @Html.TextBoxFor(m => m.Apartment.FloorNo, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(m => m.Apartment.FloorNo)
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.Apartment.UnitNo)
        @Html.TextBoxFor(m => m.Apartment.UnitNo, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(m => m.Apartment.UnitNo)
    </div>
</div>
    @Html.HiddenFor(m => m.Apartment.Id)
    @Html.HiddenFor(m => m.Apartment.PropertyId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}