@model ApartmentManager.ViewModels.ReportFormViewModel

@{ /**/

    ViewBag.Title = "Due Payments";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


@using (Html.BeginForm("DuePayments", "Report"))
{

    <div class="row">
        <div class="form-group col-md-3">
            @Html.LabelFor(m => m.PropertyId)
            <div class="input-group">
                @Html.DropDownListFor(m => m.PropertyId, new SelectList(Model.Properties, "Id", "propertyName"), "Select Property", new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.PropertyId)
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(m => m.ApartmentId)
            <div class="input-group">
                @Html.DropDownListFor(m => m.ApartmentId, new SelectList(Model.Apartments, "Id", "UnitNo"), "Select Apartment", new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.ApartmentId)
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(m => m.OwnerId)
            <div class="input-group">
                @Html.DropDownListFor(m => m.OwnerId, new SelectList(Model.Owners, "Id", "Name"), "Select Owner", new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.OwnerId)
        </div>
        <div class="col-md-3">
            <br/>
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div> }





<table id="dues" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Property Name</th>
            <th>Month</th>
            <th>Unit No</th>
            <th>Owner Name</th>
            <th>Total Due</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    <script>$(document).ready(function () {
            var table = $("#dues").DataTable({
                ajax: {
                    url: "/api/duePayment",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "property.property.propertyName",
                        render: function (data, type, due) {
                            return "Sanoj Sea Side Gate"
                        }
                    },
                    {
                        data: "monthId",
                        render: function (data, type, due) {
                            const mID = due.monthId;
                            if (mID) {
                                var parts = mID.split(/(.{4})/).filter(O => O);
                                return parts[0] + "-" + parts[1];
                            }
                            return "";
                            
                        }
                    },
                    {
                        data: "apartment.unitNo"
                    },
                    {
                        data: "property.owner.name",
                        render: function (data, type, due) {
                            return "Sanoj Hettige"
                        }
                    },
                    {
                        data: "maintenanceCost",
                    },
                    {
                        data: "id",
                        render: function (data, type, due) {
                            let content = "<a href='/Report/AddDuePayment/" + due.id + "' class='btn btn-success btn-sm'>Add Payment</a>";
                            content += "<a href='/Print/Invoice/" + due.id + "' class='btn btn-primary btn-sm'>Download</a>";

                            return "<div class='btn-group'>"+content+"</div>";
                        }
                    }
                ]
            });

       
        })</script>
}


