@model ApartmentManager.ViewModels.TenentFormViewModel

@{ /**/

    ViewBag.Title = "Create Tenent";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@section styles
{
    @Styles.Render("~/bundles/datepicker-css")
}

@using (Html.BeginForm("Save", "Tenent"))
{
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.Tenent.Name)
        @Html.TextBoxFor(m => m.Tenent.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Tenent.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.Tenent.NicNo)
        @Html.TextBoxFor(m => m.Tenent.NicNo, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Tenent.NicNo, "", new { @class = "text-danger" })
    </div>


</div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.Tenent.EmailAddress)
                        @Html.TextBoxFor(m => m.Tenent.EmailAddress, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Tenent.EmailAddress, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.Tenent.PhoneNumber)
                        @Html.TextBoxFor(m => m.Tenent.PhoneNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Tenent.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>




                                                @Html.HiddenFor(m => m.Tenent.Id)
                                                                @Html.AntiForgeryToken()
                                                                                <button type="submit" class="btn btn-primary">Save</button>}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datepicker-js")

}